.typeText{
	width: 500px;
}

.error{
	color: red;
}

textarea{
	width: 500px;	
}

#articleContentHr{
	text-align:left;
	width: 500px; 
}

li.page-item{
	box-sizing: border-box;
	display: inline-block;
	padding: 0px;
	width: 8%;
	text-align: center;
	list-style: none;
	font-size: 15px;
}

li.page-item.prev{
	width: 10%;	
}

li.page-item.next{
	width: 10%;
	border-right-width: 1px;	
}

li.page-item.active{
	background-color: #00e600;
}

li.page-item:hover{
	background-color: #ccffcc;
}

li.page-item a{
	text-decoration: none;
}

ul.pagination{
	margin: 10px 0px 0px 0px;
	width: 25%;
	font-size: 0px;
	padding: 0px;
}